# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.ncb
*.suo
*.exp
*.lib
*hgode.user
*.aps
*BuildLog.*
*.obj
*.pch
*.pdb
*Debug/iHookIN5ppc.res
*.zip
*Debug/iHookIN5ppc.res
*/Debug/iHookIN5ppc.res
*.res
*.idb
